/******************** Sass Variables ********************/
// @font-face {
//   font-family: cerebriSansRegular;
//   src: url(fonts/CerebriSans-Regular.ttf);
// }

// $font-regular: cerebriSansRegular;

$per2: 2%;
$per3: 3%;
$per5: 5%;
$per10: 10%;
$per15: 15%;
$per20: 20%;
$per30: 30%;
$per40: 40%;
/********************************************************/